/** @format */

.done {
  color: white;
  font-size: 40px;
  margin: 2rem 0 0.25rem 0;

  -webkit-text-stroke-width: 2px;

  -webkit-text-stroke-color: black;
}

.thanks {
  color: white;
  font-size: 40px;
  margin: 0;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}
.back-home {
  color: rgb(255, 255, 255);
  font-size: 40px;
  margin-top: 30px;
  -webkit-text-stroke-width: 1.7px;
  -webkit-text-stroke-color: black;
}

figure {
  display: flex;
  align-items: center;
  width: 1000px;
  aspect-ratio: 8 / 5;
  --bg: hsl(330 80% calc(90% - (var(--hover) * 10%)));
  transition: background 0.2s;
  background: radial-gradient(
    circle,
    rgba(246, 127, 6, 1) 0%,
    rgba(253, 222, 6, 1) 100%
  );
  margin: 0;
  position: relative;
  overflow: visible;
  border-radius: 1.5rem;
}

figure:after {
  content: '';
  position: absolute;
  width: 20%;
  aspect-ratio: 1;
  border-radius: 50%;
  bottom: 0%;
  left: 10%;
  background: linear-gradient(-65deg, var(--bg) 50%, var(--accent) 50%);
  filter: blur(25px);
  transform: translateX(calc(var(--hover) * 15%))
    scale(calc(1 + (var(--hover) * 0.2)));
  transition: transform 0.2s, background 0.2s;
}

.success-cap {
  width: 40%;
  transform: translateX(calc(var(--hover) * -15%))
    scale(calc(1 + (var(--hover) * 0.2)));
  transition: transform 0.2s;
}

.image-container {
  flex: 1;
}

.image-container img {
  height: 300px;
  width: 300px;
}

.text-container {
  font-family: Bangers;
  flex: 2;
  text-align: center;
  font-size: 2em;
}

article {
  --hover: 0;
}

article:hover {
  --hover: 1;
}

.homepage {
  width: 200px;
  height: 70px;
  border: none;
  border-radius: 50px;

  background-color: rgb(252, 2, 2);
  color: white;
}

.success-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('https://img.freepik.com/premium-photo/19aug19_670672-261.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1200px) {
  figure {
    width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  figure {
    width: 100%;
  }

  .image-container img {
    height: 200px;
    width: 200px;
  }

  .text-container {
    font-size: 30px;
  }

  .homepage {
    width: 150px;
    height: 50px;
  }
}
