/** @format */

.nav {
  font-family: 'Bangers';
}

.nav .nav-title {
  font-size: 2em;
}

.logo {
  height: 2em;
  margin-right: 0.5em;
}

.redirect {
  text-decoration: none;
  margin: auto;
  padding-right: 1em;
  padding-left: 1em;
}
.me-auto a {
  color: black;
}

.me-auto a:hover {
  color: white;
}

.me-auto a:visited {
  color: black;
}

.me-auto a:hover:visited {
  color: white;
}

.cart-icon {
  position: relative;
  cursor: pointer;
}

.super-cart h3 {
  color: #ff9900;
  font-size: 2em;
  font-family: Bangers;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
  margin: auto;
}

@media (max-width: 800px) {
  .welcome {
    display: none;
  }
  .logout-container {
    flex-direction: column;
  }
  .click-logout {
    margin-top: 20px;
  }
}
