/** @format */
.america {
  background-image: radial-gradient(circle, lightblue, rgb(0, 145, 255));
  height: 100%;
}
.falco {
  background-image: radial-gradient(
    circle,
    rgb(214, 150, 240),
    rgb(181, 6, 230)
  );
  height: 100%;
}
.stark {
  background-image: radial-gradient(circle, yellow, orange);
  height: 100%;
}
.hulk {
  background-image: radial-gradient(circle, palegreen, rgb(38, 107, 7));
  height: 100%;
}
.thor {
  background-image: radial-gradient(
    circle,
    rgb(192, 194, 195),
    rgb(82, 84, 86)
  );

  height: 100%;
}
.widow {
  background-image: radial-gradient(circle, rgb(228, 79, 79), rgb(195, 38, 11));
  height: 100%;
}
.avengers {
  --img-scale: 1.001;
  --title-color: black;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  border-radius: 16px;
  box-shadow: none;
  background: #fff;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  width: 400px;
  margin: 20px;
}

.avengers h1 {
  margin: 0 0 18px 0;

  letter-spacing: 0.06em;
  color: var(--title-color);
  transition: color 0.3s ease-out;
}

.bio-pic {
  margin: 0;
  padding: 0;
  height: 200px;
  overflow: hidden;
}

.avengers img {
  height: 100%;
  width: 100%;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}

.article-body {
  padding: 24px;
}

.avengers:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: #28666e;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.articles {
  display: flex;
  justify-content: space-around;
  padding: 50px;
}

@media screen and (max-width: 960px) {
  .article-body p {
    display: none;
  }
  .avengers {
    width: 350px;
  }
  .articles {
    flex-direction: column;
    align-items: center;
  }
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.shelf {
  width: 100%;
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
  padding-right: 20px;
  flex-wrap: wrap;
}

.inner-book {
  width: 60vh;
}

.libro-avenger {
  margin-bottom: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateZ(0);
  height: 100%;
  width: 33.3%;
}

.inner-book {
  display: flex;
  align-items: center;
  transform-style: preserve-3d;
  perspective: 2000px;
}

.inner-book {
  display: flex;
  align-items: center;
  transform-style: preserve-3d;
  perspective: 2000px;
  height: 500px;
  width: 350px;
}

.inner-book:before {
  content: '';
  width: 100%;
  position: absolute;
  height: 0;
  bottom: 14px;
  transform: rotateY(-20deg) translateZ(-20px);
  z-index: 0;
  box-shadow: 10px 12px 20px 13px rgba(0, 0, 0, 0.3);
}

.inner-book .img {
  transform: rotateY(-20deg);
  width: 100%;
  z-index: 5;
  clear: both;
  height: 100%;
  background: #ddd;
}

.inner-book img {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
}
.img img {
  filter: grayscale(80%);
}

.inner-book .img:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border-left: 4px solid rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.page {
  width: calc(100% - 20px);
  height: calc(100% - 2px);
  position: absolute;
  box-shadow: inset 0px -1px 2px rgba(50, 50, 50, 0.2),
    inset -1px 0px 1px rgba(150, 150, 150, 0.1);
  border-radius: 0px 3px 3px 0px;
  transform: rotateY(-20deg) translateZ(-5px);
  right: -3px;
  z-index: 4;
  background: white;
}

.page-2 {
  height: calc(100% - 4px);
  right: -6px;
  z-index: 3;
}

.page-3 {
  height: calc(100% - 6px);
  right: -9px;
  z-index: 2;
}

.page-4 {
  height: calc(100% - 8px);
  right: -12px;
  z-index: 1;
}

.page-5 {
  height: calc(100% - 10px);
  right: -15px;
  z-index: 0;
}
.sold-out-banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e10c0c;
  color: #fff;
  padding: 20px;
  font-weight: bold;
  font-family: Bangers;
  width: 100%;
  text-align: center;
  font-size: 2em;
  z-index: 1;
}

.img.final-page {
  position: absolute;
  z-index: -1;
  right: -17px;
  transform: rotateY(-19deg) translateZ(-10px) scale(0.984);
}
.sorry {
  font-family: Bangers;
  text-align: center;
  margin: 20px;
}
.sorry h3 {
  font-size: 45px;
  color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}
@media (max-width: 1100px) {
  .america {
    flex-direction: column;
    align-items: center;
  }
  .div-flex {
    flex-direction: column;
  }

  .libro-avenger {
    width: 100%;
    margin-bottom: 2em;
  }
  .wrapper-av {
    flex-direction: column;
  }
}
